In [1]:
from dotenv import load_dotenv
import os
load_dotenv()

True

In [2]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [3]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [4]:
from datetime import datetime
import pandas as pd
from src.data_utils import load_and_process_taxi_data

from_year = 2023
# to_year = datetime.now().year
to_year = 2024
print(f"Download raw data from {from_year} to {to_year}")

rides = pd.DataFrame()
chunks = []
for year in range(from_year, to_year+1):

    rides_one_year = load_and_process_taxi_data(year)

    chunks.append(rides_one_year)
    break

# Concatenate all chunks at the end
rides = pd.concat(chunks, ignore_index=True)
print("Data loading complete.")

Download raw data from 2023 to 2024
File already exists for 2023-01.
Loading data for 2023-01...
Total records: 3,066,766
Valid records: 2,993,140
Records dropped: 73,626 (2.40%)
Successfully processed data for 2023-01.
File already exists for 2023-02.
Loading data for 2023-02...
Total records: 2,913,955
Valid records: 2,845,058
Records dropped: 68,897 (2.36%)
Successfully processed data for 2023-02.
File already exists for 2023-03.
Loading data for 2023-03...
Total records: 3,403,766
Valid records: 3,331,705
Records dropped: 72,061 (2.12%)
Successfully processed data for 2023-03.
File already exists for 2023-04.
Loading data for 2023-04...
Total records: 3,288,250
Valid records: 3,214,922
Records dropped: 73,328 (2.23%)
Successfully processed data for 2023-04.
File already exists for 2023-05.
Loading data for 2023-05...
Total records: 3,513,649
Valid records: 3,435,875
Records dropped: 77,774 (2.21%)
Successfully processed data for 2023-05.
File already exists for 2023-06.
Loading data for 2023-06...
Total records: 3,307,234
Valid records: 3,233,969
Records dropped: 73,265 (2.22%)
Successfully processed data for 2023-06.
File already exists for 2023-07.
Loading data for 2023-07...
Total records: 2,907,108
Valid records: 2,838,637
Records dropped: 68,471 (2.36%)
Successfully processed data for 2023-07.
File already exists for 2023-08.
Loading data for 2023-08...
Total records: 2,824,209
Valid records: 2,758,739
Records dropped: 65,470 (2.32%)
Successfully processed data for 2023-08.
File already exists for 2023-09.
Loading data for 2023-09...
Total records: 2,846,722
Valid records: 2,782,920
Records dropped: 63,802 (2.24%)
Successfully processed data for 2023-09.
File already exists for 2023-10.
Loading data for 2023-10...
Total records: 3,522,285
Valid records: 3,446,406
Records dropped: 75,879 (2.15%)
Successfully processed data for 2023-10.
File already exists for 2023-11.
Loading data for 2023-11...
Total records: 3,339,715
Valid records: 3,267,940
Records dropped: 71,775 (2.15%)
Successfully processed data for 2023-11.
File already exists for 2023-12.
Loading data for 2023-12...
Total records: 3,376,567
Valid records: 3,313,957
Records dropped: 62,610 (1.85%)
Successfully processed data for 2023-12.
Combining all monthly data...
Data loading and processing complete!
Data loading complete.

In [5]:
rides

             pickup_datetime  pickup_location_id
0        2023-01-01 00:32:10                 161
1        2023-01-01 00:55:08                  43
2        2023-01-01 00:25:04                  48
3        2023-01-01 00:03:48                 138
4        2023-01-01 00:10:29                 107
...                      ...                 ...
37463263 2023-12-31 23:04:34                 233
37463264 2023-12-31 23:08:15                  48
37463265 2023-12-31 23:16:15                 196
37463266 2023-12-31 23:21:58                 140
37463267 2023-12-31 23:10:47                 237

[37463268 rows x 2 columns]

In [46]:
# print("Unique years in rides dataset:", rides["pickup_datetime"].dt.year.unique())

In [6]:
rides.shape

(37463268, 2)

In [7]:
from src.data_utils import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)

In [8]:
ts_data.shape

(2277600, 3)

In [9]:
ts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277600 entries, 0 to 2277599
Data columns (total 3 columns):
 #   Column              Dtype
---  ------              -----
 0   pickup_hour         datetime64[ns]
 1   pickup_location_id  int16
 2   rides               int16
dtypes: datetime64[ns](1), int16(2)
memory usage: 26.1 MB

In [10]:
ts_data

                pickup_hour  pickup_location_id  rides
0       2023-01-01 00:00:00                   2      0
1       2023-01-01 01:00:00                   2      0
2       2023-01-01 02:00:00                   2      0
3       2023-01-01 03:00:00                   2      0
4       2023-01-01 04:00:00                   2      0
...                     ...                 ...    ...
2277595 2023-12-31 19:00:00                 263    188
2277596 2023-12-31 20:00:00                 263    198
2277597 2023-12-31 21:00:00                 263    232
2277598 2023-12-31 22:00:00                 263    160
2277599 2023-12-31 23:00:00                 263     95

[2277600 rows x 3 columns]

In [11]:
# pip install hopsworks==4.1.5 hopsworks-aiomysql==0.2.1

In [12]:
import sys
import subprocess

# Upgrade related dependencies
subprocess.run([sys.executable, "-m", "pip", "install", "--upgrade", "hsfs", "hopsworks", "protobuf"])

CompletedProcess(args=['c:\\ProgramData\\anaconda3\\python.exe', '-m', 'pip', 'install', '--upgrade', 'hsfs', 'hopsworks', 'protobuf'], returncode=0)

In [13]:
from dotenv import set_key, find_dotenv
import os

# Define the .env file path
env_path = ".env"

# Define the key-value pairs to store in .env
env_variables = {
    "HOPSWORKS_API_KEY": "qs8C3M2bboLcD6al.Y7SxCMMuXRyNknvXQeq3VcpBnaAC9yDnw3c6Kac8nEydkdPevkz412XSSgkNF8mh",
    "PROJECT_ID_NAME": "taxidata"
}

# Create and write to .env file
with open(env_path, "w") as env_file:
    for key, value in env_variables.items():
        env_file.write(f"{key}={value}\n")

print(".env file has been created successfully!")

.env file has been created successfully!

In [14]:
# import hopsworks

# # Use the API key for login
# connection = hopsworks.connection(api_key_value="qs8C3M2bboLcD6al.Y7SxCMMuXRyNknvXQeq3VcpBnaAC9yDnw3c6Kac8nEydkdPevkz412XSSgkNF8mh")

# # Get your project
# project = connection.get_project("taxidata")

# # Access the feature store of the project
# feature_store = project.get_feature_store()

# print("Connected to the Hopsworks project 'taxidata' successfully!")

In [15]:
import hopsworks

# The correct host URL with port included
host = "c.app.hopsworks.ai"  # Without https:// and port
port = 443  # Specify port as 443 explicitly

# Your API key
api_key = "qs8C3M2bboLcD6al.Y7SxCMMuXRyNknvXQeq3VcpBnaAC9yDnw3c6Kac8nEydkdPevkz412XSSgkNF8mh"

# Establish connection to Hopsworks
connection = hopsworks.connection(host=host, port=port, api_key_value=api_key)

# Get the "taxidata" project
project = connection.get_project("taxidata")

# Access the feature store of the project
feature_store = project.get_feature_store()

print(f"Connected to the Hopsworks project: {project.name}")

2025-03-04 03:32:59,854 INFO: Initializing external client
2025-03-04 03:32:59,854 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-03-04 03:33:00,874 INFO: Python Engine initialized.
Connected to the Hopsworks project: taxidata

In [16]:
# import hopsworks

# api_key = os.getenv('HOPSWORKS_API_KEY')  
# project_name = os.getenv('HOPSWORKS_PROJECT_NAME')  

# #pip install confluent-kafka
# #Initialize connection to Hopsworks  
# project = hopsworks.login(  
#     api_key_value=api_key,  
#     project=project_name  
# )  
# print(f"Successfully connected to Hopsworks project: {project_name}")

In [17]:
# import hopsworks 
# project = hopsworks.login()
# fs = project.get_feature_store(name='taxidata_featurestore')
# fg = fs.get_feature_group('time_series_hourly_feature_group', version=1)

In [18]:
# # Assuming you have the project and feature store initialized
# feature_store = project.get_feature_store()

# # Get the feature group by name and version
# feature_group = feature_store.get_feature_group(FEATURE_GROUP_NAME, FEATURE_GROUP_VERSION)

# # Delete the feature group
# feature_group.delete()

In [19]:
feature_store = project.get_feature_store()

In [20]:
FEATURE_GROUP_NAME = "time_series_hourly_feature_group"
FEATURE_GROUP_VERSION = 1

In [21]:
from hsfs.feature_group import FeatureGroup

# Create the feature group
feature_group = feature_store.create_feature_group(
    name="time_series_hourly_feature_group",
    version=1,
    description="Feature group for hourly time series data",
    primary_key=["timestamp"],  # Adjust primary key according to your dataset
    online_enabled=True
)
print("Feature group created successfully!")

Feature group created successfully!

In [22]:
# import pandas as pd
# import numpy as np

# # Create a DataFrame with hourly data
# date_range = pd.date_range(start="2024-01-01", periods=100, freq='H')
# df = pd.DataFrame({
#     "timestamp": date_range,
#     "ride_count": np.random.randint(5, 100, size=len(date_range)),
#     "day_of_week": date_range.dayofweek,
#     "hour": date_range.hour,
#     "is_weekend": (date_range.dayofweek >= 5).astype(int),
#     "temperature": np.random.uniform(10, 30, size=len(date_range)),
#     "precipitation": np.random.uniform(0, 10, size=len(date_range)),
#     "pickup_location": np.random.choice([1, 2, 3, 4, 5], size=len(date_range)),
#     "event_holiday": np.random.choice([0, 1], size=len(date_range))
# })

# # Create a new unique identifier column (e.g., an integer index)
# df["id"] = range(1, len(df) + 1)

In [23]:
# import pandas as pd
# import numpy as np

# # Create a DataFrame with hourly data
# date_range = pd.date_range(start="2024-01-01", periods=100, freq='H')
# df = pd.DataFrame({
#     "timestamp": date_range,
#     "ride_count": np.random.randint(5, 100, size=len(date_range)),
#     "day_of_week": date_range.dayofweek,
#     "hour": date_range.hour,
#     "is_weekend": (date_range.dayofweek >= 5).astype(int),
#     "temperature": np.random.uniform(10, 30, size=len(date_range)),
#     "precipitation": np.random.uniform(0, 10, size=len(date_range)),
#     "pickup_location": np.random.choice([1, 2, 3, 4, 5], size=len(date_range)),
#     "event_holiday": np.random.choice([0, 1], size=len(date_range))
# })

# # Drop the unnecessary columns permanently
# df.drop(columns=['day_of_week', 'hour', 'is_weekend', 'temperature', 'precipitation', 
#                  'event_holiday'], inplace=True)

# # Rename columns to match your required names (if necessary)
# df.rename(columns={
#     'timestamp': 'pickup_hour',
#     'pickup_location': 'pickup_location_id',
#     'ride_count': 'rides'
# }, inplace=True)

# # Now, df will have the required columns: pickup_hour, pickup_location_id, and rides
# print(df.head())

In [24]:
feature_group = feature_store.create_feature_group(
    name="time_series_hourly_feature_group",
    version=1,
    description="Feature group for hourly time series data",  # Use the new 'id' column as the primary key
    online_enabled=True   # Enable online serving if needed
)
print("Feature group created with supported primary key for online serving.")

Feature group created with supported primary key for online serving.

In [25]:
# feature_group = feature_store.get_or_create_feature_group(
# name=config.FEATURE_GROUP_NAME,
# version=config.FEATURE_GROUP_VERSION,
# description="Time series data at hourly frequency",
# primary_key=['pickup_location_id','pickup_hour'],
# event_time = ['pickup_hour']
# )

In [26]:
# Ensure necessary imports
from hsfs import feature_group

# Assuming 'df' is your pandas DataFrame
try:
    feature_group.insert(df)
    print("Data inserted into the feature group.")
except Exception as e:
    print(f"Error inserting data: {e}")

Error inserting data: module 'hsfs.feature_group' has no attribute 'insert'

In [27]:
# from hsfs.feature_group import FeatureGroup
# from hsfs.feature import Feature

# # Assuming you have the project and feature store initialized
# feature_store = project.get_feature_store()
# featurestore_id = feature_store.id  # Get the feature store ID

# # Define features using Feature objects
# pickup_hour = Feature(name="pickup_hour", dtype="timestamp")
# pickup_location_id = Feature(name="pickup_location_id", dtype="int")
# rides = Feature(name="rides", dtype="int")

# # Specify the primary key (for example, using 'pickup_hour')
# primary_key = ["pickup_hour"]

# # Create the feature group with the required feature store ID, features, and primary key
# feature_group = FeatureGroup(
#     name=FEATURE_GROUP_NAME,
#     version=FEATURE_GROUP_VERSION,
#     featurestore_id=featurestore_id,  # Provide the feature store ID
#     description="Time Series Hourly Feature Group for rides data",
#     online_enabled=True,  # Set to False if you don't need online serving
#     features=[pickup_hour, pickup_location_id, rides],  # Pass features here
#     primary_key=primary_key  # Provide the primary key
# )

# # Save the feature group to finalize its creation
# feature_group.save()

In [28]:
# feature_group = feature_store.get_feature_group(
#     name=FEATURE_GROUP_NAME,
#     version=FEATURE_GROUP_VERSION,
# )

In [29]:
# if "id" not in ts_data.columns:
#     ts_data['id'] = range(1, len(ts_data) + 1)  # Create an 'id' column if it's missing

In [30]:
ts_data.rename(columns={
    'pickup_hour': 'pickup_hour',
    'pickup_location_id': 'pickup_location_id',
    'rides': 'rides'
}, inplace=True)

In [31]:
ts_data['pickup_hour'] = pd.to_datetime(ts_data['pickup_hour'])
ts_data['pickup_location_id'] = ts_data['pickup_location_id'].astype(int)
ts_data['rides'] = ts_data['rides'].astype(int)

In [32]:
FEATURE_GROUP_NAME = "time_series_hourly_feature_group"
FEATURE_GROUP_VERSION = 1

feature_group = feature_store.get_or_create_feature_group(
    name=FEATURE_GROUP_NAME,
    version=FEATURE_GROUP_VERSION,
    description="Time series data at hourly frequency",
    primary_key=['pickup_location_id', 'pickup_hour'],
    event_time=['pickup_hour']
)

In [33]:
ts_data = ts_data.rename(columns={
    "pickup_hour": "timestamp",
    "rides": "ride_count",
    "pickup_location_id": "pickup_location"
})

In [34]:
# import pandas as pd

# # Define default values for missing columns
# ts_data["day_of_week"] = pd.to_datetime(ts_data["timestamp"]).dt.dayofweek  # Extract from timestamp
# ts_data["hour"] = pd.to_datetime(ts_data["timestamp"]).dt.hour  # Extract hour
# ts_data["is_weekend"] = ts_data["day_of_week"].apply(lambda x: 1 if x >= 5 else 0)  # 1 for Sat/Sun
# ts_data["temperature"] = 20.0  # Default temperature (replace with actual data)
# ts_data["precipitation"] = 0.0  # Default precipitation (replace with actual data)
# ts_data["event_holiday"] = 0  # Default no holiday

# # Ensure 'id' is unique
# ts_data["id"] = range(1, len(ts_data) + 1)

In [35]:
print(ts_data.dtypes)  # Check data types
print(ts_data.head())  # Preview data

timestamp          datetime64[ns]
pickup_location             int32
ride_count                  int32
dtype: object
            timestamp  pickup_location  ride_count
0 2023-01-01 00:00:00                2           0
1 2023-01-01 01:00:00                2           0
2 2023-01-01 02:00:00                2           0
3 2023-01-01 03:00:00                2           0
4 2023-01-01 04:00:00                2           0

In [36]:
# print(ts_data["id"].is_unique)  # Should return True

In [37]:
# ts_data["is_weekend"] = ts_data["is_weekend"].astype("int32")
# ts_data["event_holiday"] = ts_data["event_holiday"].astype("int32")

In [38]:
# !pip install confluent-kafka
# from confluent_kafka import Producer

In [39]:
print(ts_data.columns)

Index(['timestamp', 'pickup_location', 'ride_count'], dtype='object')

In [40]:
# print(ts_data_selected.columns)

In [41]:
# Rename the columns
ts_data.rename(columns={
    'timestamp': 'pickup_hour',
    'pickup_location': 'pickup_location_id',
    'ride_count': 'rides'
}, inplace=True)

# Select only the required columns
ts_data_selected = ts_data[['pickup_hour', 'pickup_location_id', 'rides']]

# Insert the selected columns into the feature group
feature_group.insert(ts_data_selected, write_options={"wait_for_job": False})

Uploading Dataframe: 100.00% |██████████| Rows 2277600/2277600 | Elapsed Time: 02:05 | Remaining Time: 00:00

Launching job: time_series_hourly_feature_group_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai:443/p/1215644/jobs/named/time_series_hourly_feature_group_1_offline_fg_materialization/executions

(Job('time_series_hourly_feature_group_1_offline_fg_materialization', 'SPARK'),
 None)

In [42]:
# from confluent_kafka import Producer
# feature_group.insert(ts_data, write_options={"wait_for_job": False})

In [43]:
df_memory_mb = rides.memory_usage(deep=True).sum() / (1024 * 1024)  
print(f"DataFrame size: {df_memory_mb:.2f} MB")

DataFrame size: 857.47 MB

In [44]:
ts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277600 entries, 0 to 2277599
Data columns (total 3 columns):
 #   Column              Dtype
---  ------              -----
 0   pickup_hour         datetime64[ns]
 1   pickup_location_id  int32
 2   rides               int32
dtypes: datetime64[ns](1), int32(2)
memory usage: 34.8 MB